.input-form {
    box-shadow: 0px 0px 10px rgb(212, 188, 170);
    width: 500px;
    box-sizing: border-box;
    display: block;
    align-items: center;
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(228, 212, 201);
    margin-top: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.input-title {
    width: 100%;
    height: 40px;
    padding: 10px;
    box-sizing: border-box;
}

.input-body {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    margin-top: 30px;
    padding: 10px;
}

.action-wrap {
    /* display: flex;
    justify-content: space-between;
    width: 40%; */
    margin-left: auto;
}

.btn.btn-cancel {
    margin-left: 10px;
}

.content-field {
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 20px;
    transition: transform  0.2s;
    border: 0.5px solid rgb(219, 218, 218);
    position: relative;
}

.content-field:hover {
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgb(165, 165, 165);
    transform: scale(1.01);
    cursor: pointer;
    background-color: rgb(241, 241, 241);
} 

.card-title {
    font-size: 26px;
    margin: 0px;
    /* color: white; */
    font-weight: bold;
}

.date {
    margin: 0px;
    /* color: cornsilk; */
}

.btn-delete {
    position: absolute;
    width: 15px;
    height: 15px;
    top: -15px;
    right: -15px;
    background-color: red;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    box-shadow: 0px 0px 7px rgb(250, 162, 162);
    color: white;
}

.btn-delete:hover {
    box-shadow: 0px 0px 17px rgb(250, 162, 162);
}