.auth-container {
    margin: 0 150px;
}

.auth-card {
    height: auto;
    width: 400px;
    border: 1px solid rgb(207, 182, 163);
    border-radius: 7px;
    box-shadow: 3px 3px 7px rgb(98, 98, 98);
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 100px;
}

.auth-title{
    font-size: 20px;
    font-weight: bold;
    color: chocolate;
    margin-bottom: 20px;
}

.input{
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    height: 25px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid chocolate;
    border-radius: 7px;
    color: black;
}

.btn {
    margin-top: 20px;
    display: inline-block;
    padding: 12px 18px;
    border-radius: 7px;
    background-color:  chocolate;
    color: white;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color:  rgb(206, 130, 76);
}

.btn.disable {
    background-color: grey;
}

.btn.disable:hover {
    cursor: not-allowed;
}